@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-black text-white font-sans antialiased overflow-x-hidden;
  }
}

.clip-reveal {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

.text-gradient {
  background: linear-gradient(to right, #fff, #9ca3af);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
